@model WebApplicationFSharp.Net.Customers.Models.Customer

@{
    ViewBag.Title = "DisplayCustomer";
}

<div>
    <br /><br /><br />
    The customer id is @Html.DisplayFor(model => model.Id) <br />

    The customer code is @Html.DisplayFor(model => model.CustomerCode) <br />

    The customer name is @Html.DisplayFor(model => model.CustomerName) <br />

    The customer NAS is @Html.DisplayFor(model => model.NAS) <br />

    <div>@Html.DisplayFor(model => model.Description)</div>

    The customer birth date is @Html.DisplayFor(model => model.BirthDate) <br />

</div>
