@using Microsoft.AspNet.Http

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
</head>
<body>
    <div> 
        @TempData["FortheFullRequest"]<br />
        @ViewData["Myval"]<br />
        @Context.Session.GetString("Session1")<br />
        @ViewBag.MyVal<br />
        @Html.ActionLink("Click", "../Default1/Action1")
    </div>
</body>
</html>
